<div class="grid grid-cols-4 gap-4">
  <div class="">
    <app-sidebar> </app-sidebar>
  </div>
  <div class="col-span-3">
    <app-card>
      <card-title>
        <h4 class="text-lg font-bold">Messages</h4>
      </card-title>
      <card-body>
        <div class="border-b border-slate-300">
          <app-message-items></app-message-items>
          <app-message-items></app-message-items>
          <app-message-items></app-message-items>
          <app-message-items></app-message-items>
        </div>
      </card-body>
    </app-card>
  </div>
</div>
