<div class="w-2/5">
  <app-card>
    <card-title>
      <h3 class="text-lg font-bold text-slate-500">Register Here! 👇</h3>
    </card-title>

    <card-body>
      <form action="">
        <div class="form-group mb-3">
          <label class="form-label text-gray-500" for=""
            >Your Name <span>*</span></label
          >
          <input type="text" class="form-control" placeholder="Your Name" />
        </div>

        <div class="form-group mb-3">
          <label class="form-label text-gray-500" for=""
            >Email Address <span>*</span></label
          >
          <input
            type="email"
            class="form-control"
            placeholder="email@address"
          />
        </div>

        <div class="form-group mb-3">
          <label class="form-label text-gray-500" for=""
            >Password <span>*</span></label
          >
          <input type="password" class="form-control" placeholder="password" />
        </div>
        <!--
        <div class="form-group mb-3">
          <label class="form-label text-gray-500" for="">
            Re-Enter Password <span>*</span></label
          >
          <input type="password" class="form-control" placeholder="password" />
        </div> -->
        <button type="submit" class="btn btn-grey">Register</button>
      </form>
    </card-body>
  </app-card>
</div>
